@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #0e0037;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  color: #fff !important;
  font-size: 2.2em;
  font-weight: 600;
}

nav ul li a {
  color: #fff !important;
}

button {
  padding: 20px 15px;
  font-family: inherit;
  border: 0;
}

/*Slider*/
#hero .container {
  height: 100%;
}

#hero .row {
  height: 100%;
}

#hero h1 {
  font-size: 2.6em;
  font-family: inherit;
  margin-bottom: .5em;
  font-weight: 700;
}

#hero h1 span {
  color: #ffd50f;
}

#hero p {
  margin-bottom: 1.5em;
}

#hero .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .illustration svg {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}

/*Slider*/
#about {
  overflow: hidden;
  height: 100vh;
}

#about .container {
  height: 100%;
}

#about .row {
  height: 100%;
}

#about p {
  font-size: 3em;
  margin-top: 30px;
  font-weight: 700;
}

#about:before {
  content: "";
  position: absolute;
  background: #7340a8;
  background: -webkit-gradient(linear, left top, right top, from(#7340a8), to(#df5695));
  background: linear-gradient(90deg, #7340a8 0%, #df5695 100%);
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#about.appear:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*Slider Section*/
.slider.show .picture-frame {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.slider.show .picture-frame .inner-frame {
  -webkit-transform: rotate(-30deg) translate3d(-15%, -20%, 0) scale(1);
  transform: rotate(-30deg) translate3d(-15%, -20%, 0) scale(1);
  opacity: 1;
}

.slider {
  background-color: ivory;
  overflow: hidden;
  padding: 60px 0;
  height: 100vh;
}

.slider h1 {
  font-size: 14em;
  font-weight: 700;
  color: #cecece;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.slider .picture-frame {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  width: 320px;
  height: 650px;
  overflow: hidden;
  -webkit-transform: rotate(30deg) scale(1);
  transform: rotate(30deg) scale(1);
  transition: -webkit-clip-path 1.55s ease-in-out;
  -webkit-transition: -webkit-clip-path 1.55s ease-in-out;
  transition: clip-path 1.55s ease-in-out;
  transition: clip-path 1.55s ease-in-out, -webkit-clip-path 1.55s ease-in-out;
  transition: clip-path 1.55s ease-in-out, -webkit-clip-path 1.55s ease-in-out;
}

.slider .picture-frame .inner-frame {
  -webkit-transform: rotate(-30deg) translate3d(-15%, -20%, 0) scale(1.1);
  transform: rotate(-30deg) translate3d(-15%, -20%, 0) scale(1.1);
  opacity: 0;
  -webkit-transition: all 1.75s ease-in-out;
  transition: all 1.75s ease-in-out;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 625px;
  height: 815px;
}

.slider .picture-frame .inner-frame img {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

#one {
  background-color: #0e0037;
}

#two {
  background-color: #ffd50f;
}

#three {
  background-color: brown;
}

#four {
  background-color: orange;
}

.slider.active {
  z-index: 9;
  opacity: 1;
}

.slider {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/*Bird*/
#bird {
  z-index: 99;
  position: relative;
}

#bird {
  overflow: hidden;
  height: 100vh;
}

#bird .container {
  height: 100%;
}

#bird .row {
  height: 100%;
}

#bird p {
  font-size: 3em;
  margin-top: 30px;
  font-weight: 700;
}

/*Bird*/
/* Default Style*/
.section-title {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #0e0037;
}

body {
  background-color: black;
  margin: 20px;
  font-family: Arial, sans-serif;
}

g#left-wing > #part-1, g#left-wing > #part-2, g#left-wing > #part-3 {
  -webkit-animation: wings3 2s infinite;
  animation: wings3 2s infinite;
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes wings3 {
  0%, 100% {
    -webkit-transform: rotate3d(1, 0.6, 0, 0deg) translate(-0.2%, 0.5%);
            transform: rotate3d(1, 0.6, 0, 0deg) translate(-0.2%, 0.5%);
  }
  50% {
    -webkit-transform: rotate3d(1, 0.6, 0, 180deg) translate(-0.2%, 0.5%);
            transform: rotate3d(1, 0.6, 0, 180deg) translate(-0.2%, 0.5%);
  }
}

@keyframes wings3 {
  0%, 100% {
    -webkit-transform: rotate3d(1, 0.6, 0, 0deg) translate(-0.2%, 0.5%);
            transform: rotate3d(1, 0.6, 0, 0deg) translate(-0.2%, 0.5%);
  }
  50% {
    -webkit-transform: rotate3d(1, 0.6, 0, 180deg) translate(-0.2%, 0.5%);
            transform: rotate3d(1, 0.6, 0, 180deg) translate(-0.2%, 0.5%);
  }
}

#hero .illustration svg {
  -webkit-animation: fly 2s infinite;
  animation: fly 2s infinite;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@-webkit-keyframes fly {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
}

@keyframes fly {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
}

.cursor {
  position: fixed;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cursor.active {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.menu-active {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.cursor-follower.active {
  opacity: 1;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.cursor-follower.menu-active {
  opacity: 1;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.cursor-follower.hovered {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */